*{
    box-sizing: border-box;
}
.user_name{
    color: red;
}
.form_contant{
    background-image: linear-gradient(to bottom right , pink , skyblue);
    /* background-color: rgb(218, 242, 242); */
    padding: 30px 30px;
}
.form_data{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table_data{
    margin-top: 50px;
}
#msg{
    color:red;
    background-color: rgb(127, 232, 255);
    font-size: 25px;
}
.submit_btn{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.add_data{
    margin-top: 20px;
    margin-left: 50px;
}